body {
  background-color: black;
  color: white;
}

.rere {
	margin-top: 50px;
  margin-bottom: 20px;
  margin-right: 25px;
  margin-left: 50px;
  float:left;
}
.ustbilgi{
 margin-top: 50px;
  margin-bottom: 20px;
  margin-right: 50px;
  margin-left: 250px;

}




